@import url("https://fonts.googleapis.com/css?family=Inter|Roboto&display=swap");

/***********************
** Foundation Styles
***********************/

body {
  /* REQUIRMENT: ADDED 2020-04-18 - Background color */
  background-color: #ebe4e2;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-space-between {
  display: flex;
}

.extra-padding {
  padding: 30px;
}

.extra-padding-x {
  padding: 0 30px;
}

.extra-padding-y {
  padding: 30px 0;
}

.extra-margin-right {
  margin-right: 30px;
}

.extra-margin-left {
  margin-left: 30px;
}

.small-margin-top {
  margin-top: 10px;
}

.sub-page-main {
  margin: 0 auto;
}

.flex-left {
  display: flex;
  justify-content: start;
}

.half {
  width: 50%;
  margin: 0;
}

/***********************
** Header and Nav Styles
***********************/

header,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  justify-content: space-between;
  background-color: #6f929b;
  box-shadow: rgb(46, 46, 46) 2px 2px 15px;
  z-index: 99;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: black;
  font-family: "Inter", sans-serif;
  opacity: 0.7;
}

nav ul li a:hover {
  opacity: 1;
  transition: all 0.5s;
}

#logo {
  height: 75px;
  width: auto;
  margin: 10px 30px;
}

/***********************
** Main Content Styles
***********************/

main {
  padding: 30px 0;
}

.panel {
  background-color: #f7f7f7;
  max-width: 1500px;
  margin: 20px 20px 50px 20px;
  padding: 0 0 30px 0;
  box-shadow: rgb(101, 101, 101) 5px 5px 15px;
}

.panel article h2 {
  font-size: 27px;
  padding-bottom: 5px;
  color: #2e3e42;
}

.panel article p {
  padding-bottom: 20px;
  text-align: justify;
}

.panel article iframe,
.panel article figure {
  float: right;
  margin: 0 0 30px 30px;
}

.panel article .half iframe {
  float: none;
}

.panel article figure img {
  width: 600px;
  height: auto;
}

.title-wrapper {
  background-color: #b69e97;
  margin-bottom: 30px;
  padding: 20px;
}

.title-wrapper h1 {
  font-size: 35px;
}

.title-wrapper h2 {
  font-size: 25px;
}

/* REQUIREMENT added 2020-05-03 background image */
.slider {
  height: 500px;
  background: center/cover no-repeat url("img/puppy2.jpg");
}

.feature {
  background-color: #f7f7f7;
  margin: 20px;
  padding: 20px;
  width: 400px;
  box-shadow: rgb(101, 101, 101) 5px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature h2 {
  text-align: center;
  padding: 30px;
  font-size: 25px;
}

.feature p {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
}

.feature img {
  /* REQUIREMENT ADDED 2020-04-18: Border */
  border: 1px solid #d9d3d1;
  width: 100%;
}

.feature .feature-link {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  text-decoration: none;
  width: 50px;
  font-size: 60px;
  margin: 30px;
  color: #9b786f;
  opacity: 0.7;
}

.feature .feature-link:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

figure img {
  display: block;
  width: 100%;
}

figure figcaption {
  background-color: rgba(225, 225, 225, 0.6);
  font-style: italic;
  padding: 10px 0;
  text-align: center;
  position: relative;
  height: 40px;
  bottom: 40px;
  margin-bottom: -40px;
}

.subtitle {
  text-align: center !important;
  font-size: 18px;
  margin-bottom: 20px;
  color: #323232;
}

.panel h3 {
  font-size: 20px;
  margin: 20px 0 10px 0;
  color: #34454a;
}

.panel li {
  margin-left: 20px;
  padding: 5px;
}

blockquote {
  border-left: 4px solid #42575d;
  margin: 0px 10px 15px 50px;
  padding: 10px;
  font-size: 19px;
  color: #34454a;
  text-align: justify;
  line-height: 22px;
}

#about-fig {
  position: relative;
  bottom: 0px;
  right: 0px;
}

/* REQUIREMENT added 2020-05-03 - advanced CSS styling on an image */
#about-fig:hover {
  box-shadow: rgb(101, 101, 101) 5px 5px 15px;
  bottom: 5px;
  right: 5px;
  transition: all 0.3s;
}

/* REQUIREMENT added 2020-05-03 - CSS to remove border on iframe*/
iframe {
  border: none;
}

cite {
  display: block;
  margin-bottom: 10px;
}

.disclaimer {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

#pet-supplies-table {
  width: 100%;
  border-collapse: collapse;
}

#pet-supplies-table td {
  border: 1px solid black;
  padding: 10px;
}

#pet-supplies-table td h3 {
  text-align: center;
}

#pet-supplies-table td p {
  margin: 0;
  padding: 0;
}

/* REQUIREMENT: use a pseudo element */
#pet-supplies-table td:first-child {
  width: 150px;
}

#pet-supplies-table .small-margin-top {
  margin-top: 10px;
}

/***********************
** Aside Styles
***********************/

.panel aside {
  background-color: #b69e97;
  padding: 20px;
}

.panel aside.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panel aside.horizontal-aside {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.panel aside .subpage-wrapper-nav {
  padding: 20px;
}

.panel aside h2 {
  font-size: 25px;
}

.panel aside ul {
  padding: 10px 20px;
}

.panel aside li {
  padding: 5px;
}

.panel aside a {
  text-decoration: none;
  color: #212b2e;
  opacity: 0.8;
}

.panel aside a:hover {
  color: #13191b;
  transition: all 0.5s;
  opacity: 1;
}

.panel aside.sidebar .aside-img {
  width: 300px;
  height: auto;
}

.panel aside.horizontal-aside .aside-img {
  height: 300px;
  width: auto;
}

/***********************
** Footer Styles
***********************/

footer {
  background-color: #6f929b;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgb(136, 136, 136) -1px -1px 10px;
}

#footer-nav ul {
  display: flex;
}

#footer-nav ul li {
  list-style-type: none;
  padding: 0px 10px;
}

#footer-nav li a {
  color: #191919;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  opacity: 0.7;
}

#footer-nav li a:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

#copyright {
  color: #191919;
}

address {
  padding: 10px;
  border: 1px solid black;
  margin-left: 20px;
}

/***********************
** Form Styles
***********************/

form {
  width: 700px;
  background-color: #95aeb6;
  padding: 20px;
  box-shadow: rgb(136, 136, 136) 1px 1px 10px;
}

fieldset {
  border: 1px solid #323232;
  margin: 10px 10px 20px 10px;
}

legend {
  color: #323232;
  font-weight: bold;
}

fieldset div {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

label {
  display: block;
  width: 50%;
  text-align: right;
  line-height: 30px;
  padding-right: 20px;
}

input {
  display: block;
  width: 50%;
  padding: 10px;
}

.column-fieldset {
  flex-direction: column;
  align-items: stretch;
}

label[for="comment"] {
  /* width: 100%; */
  text-align: left;
}

textarea {
  width: 600px;
  height: 100px;
  margin: 10px;
}

input[type="submit"],
input[type="reset"] {
  font-size: 18px;
  opacity: 0.8;
  border: none;
  width: 45%;
  margin: 2%;
  color: #323232;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(114, 114, 114, 0.5);
}

input[type="submit"] {
  background-color: #7fbf7f;
}

input[type="reset"] {
  background-color: #ff6666;
}

/***********************
** Responsive Styles
***********************/
#hamburger {
  display: none;
}

/* REQUIREMENT added 2020-05-03 media query 1 */
@media only screen and (min-width: 800px) and (max-width: 1250px) {
  .tablet-column {
    flex-direction: column;
  }

  /* REQUIREMENT added 2020-05-03 media query selector 1 */
  .tablet-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* REQUIREMENT added 2020-05-03 media query selector 2 */
  ul.tablet-row li {
    width: 33%;
    margin: 0;
    list-style-type: none;
    padding: 10px;
  }

  /* REQUIREMENT added 2020-05-03 media query selector 3 */
  ul.tablet-row li ul li {
    list-style-type: disc;
    padding: 10px 0 0 0;
  }

  .tablet-margin-top {
    margin-top: 30px;
  }

  .tablet-hide {
    display: none;
  }

  .tablet-column .half {
    width: 100%;
  }

  section.feature {
    width: 90%;
    max-width: 700px;
    margin: 10px auto;
  }

  .panel article iframe {
    float: none;
  }

  .panel aside.horizontal-aside {
    flex-direction: column;
  }

  #about-fig {
    width: 100%;
  }

  .panel aside.horizontal-aside .aside-img,
  #about-fig img {
    width: 100%;
    height: auto;
  }

  form {
    width: 500px;
  }

  textarea {
    width: 400px;
  }

  .column-fieldset label {
    width: 100%;
  }
}

/* REQUIREMENT added 2020-05-03 media query 2 */
@media only screen and (max-width: 799px) {
  /* REQUIREMENT added 2020-05-03 media query property 1 */
  #logo {
    width: 100%;
    height: auto;
  }

  /* REQUIREMENT added 2020-05-03 media query property 2 */
  .slider {
    height: 300px;
  }

  /* REQUIREMENT added 2020-05-03 media query property 3 */
  #hamburger {
    display: block;
    font-size: 40px;
    text-align: right;
    width: 100%;
    padding-right: 20px;
  }

  #hamburger:hover {
    cursor: pointer;
  }

  nav {
    flex-direction: column;
  }

  header,
  nav {
    flex-direction: column;
  }

  header .flex-space-between {
    width: 100%;
    align-items: center;
  }

  #top-menu {
    display: none;
  }

  #top-menu ul {
    flex-direction: column;
    text-align: center;
    font-size: 25px;
  }

  #footer-nav {
    display: none;
  }

  .tablet-column {
    flex-direction: column;
  }

  section.feature,
  section.panel {
    width: 90%;
    max-width: 600px;
    margin: 10px auto;
  }

  #pet-supplies-table,
  #pet-supplies-table tr {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
  }

  #pet-supplies-table td:first-child,
  #pet-supplies-table td {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  iframe {
    width: 100% !important;
    box-sizing: border-box;
    margin: 0 !important;
    float: none !important;
  }

  .extra-padding-x {
    padding: 0;
  }

  .extra-margin-right {
    margin: 0;
  }

  .tablet-column .half {
    width: 100%;
  }

  .panel h2 {
    padding-top: 10px;
    display: block;
  }

  .panel h3 {
    margin: 5px 0;
  }

  .extra-padding {
    padding-top: 10px;
  }

  .panel aside.horizontal-aside .aside-img,
  #about-fig img {
    width: 100%;
    height: auto;
  }

  #about-fig {
    margin: 0 0 15px 0;
  }

  .panel aside.horizontal-aside {
    flex-direction: column;
  }

  .mobile-column {
    flex-direction: column;
  }

  form,
  textarea {
    width: 100%;
    display: block;
    box-sizing: border-box;
  }

  address {
    margin: 0;
  }

  form div {
    flex-direction: column;
  }

  form .flex-container {
    flex-direction: row;
  }

  form label,
  form input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    text-align: left;
  }

  textarea {
    max-width: 300px;
  }
}
