@import url("https://fonts.googleapis.com/css?family=Inter|Roboto&display=swap");

/***********************
** Foundation Styles
***********************/

body {
  /* REQUIRMENT: ADDED 2020-04-18 - Background color */
  background-color: #ebe4e2;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.extra-padding {
  padding: 30px;
}

.extra-padding-x {
  padding: 0 30px;
}

.extra-margin-right {
  margin-right: 30px;
}

.extra-margin-left {
  margin-left: 30px;
}

.sub-page-main {
  margin: 0 auto;
}

/***********************
** Header and Nav Styles
***********************/

header,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  justify-content: space-between;
  background-color: #6f929b;
  box-shadow: rgb(46, 46, 46) 2px 2px 15px;
  z-index: 99;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: black;
  font-family: "Inter", sans-serif;
  opacity: 0.7;
}

nav ul li a:hover {
  opacity: 1;
  transition: all 0.5s;
}

#logo {
  height: 75px;
  width: auto;
  margin: 10px 30px;
}

/***********************
** Main Content Styles
***********************/

main {
  padding: 30px 0;
}

.panel {
  background-color: #cdbbb7;
  max-width: 1500px;
  margin: 20px 20px 50px 20px;
  padding: 0 0 30px 0;
  box-shadow: rgb(46, 46, 46) 2px 2px 15px;
}

.panel article h2 {
  font-size: 25px;
  padding-bottom: 5px;
}

.panel article p {
  padding-bottom: 20px;
  text-align: justify;
}

.panel article iframe,
.panel article figure {
  float: right;
  margin: 0 0 30px 30px;
}

.panel article figure img {
  width: 600px;
  height: auto;
}

.title-wrapper {
  background-color: #9b786f;
  margin-bottom: 30px;
  padding: 20px;
}

.title-wrapper h1 {
  font-size: 35px;
}

.slider {
  height: 500px;
  background: center/cover no-repeat url("img/puppy2.jpg");
}

.feature {
  background-color: #f7f7f7;
  margin: 20px;
  padding: 20px;
  width: 400px;
  box-shadow: rgb(101, 101, 101) 5px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature h2 {
  text-align: center;
  padding: 30px;
  font-size: 25px;
}

.feature p {
  font-size: 18px;
  text-align: center;
  line-height: 25px;
}

.feature img {
  /* REQUIREMENT ADDED 2020-04-18: Border */
  border: 1px solid #d9d3d1;
  width: 100%;
}

.feature .feature-link {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  text-decoration: none;
  width: 50px;
  font-size: 60px;
  margin: 30px;
  color: #9b786f;
  opacity: 0.7;
}

.feature .feature-link:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

figure img {
  display: block;
  width: 100%;
}

figure figcaption {
  background-color: rgba(225, 225, 225, 0.6);
  font-style: italic;
  padding: 10px 0;
  text-align: center;
  position: relative;
  height: 40px;
  bottom: 40px;
  margin-bottom: -40px;
}

.panel-text {
  max-width: 600px;
}

/***********************
** Aside Styles
***********************/

.panel aside {
  background-color: #9b786f;
  padding: 20px;
}

.panel aside.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panel aside.horizontal-aside {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.panel aside .subpage-wrapper-nav {
  padding: 20px;
}

.panel aside h2 {
  font-size: 25px;
}

.panel aside ul {
  padding: 10px 20px;
}

.panel aside li {
  padding: 15px 15px 15px 0;
}

.panel aside a {
  text-decoration: none;
  color: #212b2e;
}

.panel aside a:hover {
  color: #13191b;
  transition: color 0.5s;
}

.panel aside.sidebar .aside-img {
  width: 300px;
  height: auto;
}

.panel aside.horizontal-aside .aside-img {
  height: 300px;
  width: auto;
}

/***********************
** Footer Styles
***********************/

footer {
  background-color: #6f929b;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgb(136, 136, 136) -1px -1px 10px;
}

#footer-nav ul {
  display: flex;
}

#footer-nav ul li {
  list-style-type: none;
  padding: 0px 10px;
}

#footer-nav li a {
  color: #191919;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  opacity: 0.7;
}

#footer-nav li a:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

#copyright {
  color: #191919;
}

/***********************
** Form Styles
***********************/

form {
  width: 700px;
  background-color: #95aeb6;
  padding: 20px;
  box-shadow: rgb(136, 136, 136) 1px 1px 10px;
}

fieldset {
  border: 1px solid #323232;
  margin: 10px 10px 20px 10px;
}

legend {
  color: #323232;
  font-weight: bold;
}

fieldset div {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

label {
  display: block;
  width: 50%;
  text-align: right;
  line-height: 30px;
  padding-right: 20px;
}

input {
  display: block;
  width: 50%;
  padding: 10px;
}

.column-fieldset {
  flex-direction: column;
  align-items: stretch;
}

label[for="comment"] {
  /* width: 100%; */
  text-align: left;
}

textarea {
  width: 600px;
  height: 100px;
  margin: 10px;
}

input[type="submit"],
input[type="reset"] {
  font-size: 18px;
  opacity: 0.8;
  border: none;
  width: 45%;
  margin: 2%;
  color: #323232;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(114, 114, 114, 0.5);
}

input[type="submit"] {
  background-color: #7fbf7f;
}

input[type="reset"] {
  background-color: #ff6666;
}
