@import url("https://fonts.googleapis.com/css?family=Inter|Roboto&display=swap");
/*
How do you get a footer to stay at the bottom when there's not enough content to fill a page?
*/

/* html,
body {
  height: 100%;
} */

/***********************
** Foundation Styles
***********************/

body {
  background-color: #ebe4e2;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/***********************
** Header and Nav Styles
***********************/

header,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header {
  justify-content: space-between;
  background-color: #6f929b;
  box-shadow: rgb(46, 46, 46) 2px 2px 15px;
  z-index: 99;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: #191919;
  font-family: "Inter", sans-serif;
}

#logo {
  height: 75px;
  width: auto;
  margin: 10px 30px;
}

/***********************
** Main Content Styles
***********************/

main {
  padding: 30px 0;
}

.slider {
  height: 500px;
  background: center/cover no-repeat url("img/puppy2.jpg");
}

.feature {
  background-color: #f7f7f7;
  margin: 20px;
  padding: 20px;
  width: 400px;
  box-shadow: rgb(101, 101, 101) 5px 5px 15px;
}

.feature h2 {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.feature p {
  text-align: justify;
}

.feature img {
  width: 100%;
}

/***********************
** Footer Styles
***********************/

footer {
  background-color: #6f929b;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgb(136, 136, 136) -1px -1px 10px;
}

#footer-nav ul {
  display: flex;
}

#footer-nav ul li {
  list-style-type: none;
  padding: 0px 5px;
}

#footer-nav li a {
  color: #191919;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

#copyright {
  color: #191919;
}
